<div class="container">

  <div class="col-8">

    <form #formTroco="ngForm">

      <h2 class="mt-4">{{title}}</h2>

      <div class="mt-2">
        <label for="VlrCompra">Valor compra:</label>
        <input [(ngModel)]="valores.vlrCompra" #descricao="ngModel" type="number" class="form-control" id="vlrCompra"
          name="vlrCompra" min="0" required>
      </div>
      <div class="mt-2">
        <label for="VlrPago">Valor pago:</label>
        <input [(ngModel)]="valores.vlrPago" #descricao="ngModel" type="number" class="form-control" id="vlrPago"
          name="vlrPago" min="0" required>
      </div>
      <div>
        <button (click)="calcular()" class="btn btn-primary mr-2 mt-2" type="submit">Calcular</button>
      </div>

      <div *ngIf="troco.mensagem != null && troco.mensagem != ''" class="alert alert-danger mt-4">
        {{troco.mensagem}}
      </div>

    </form>

    <div class="mt-4">
      <h2>Resultado</h2>

      <table class="table table-striped">

        <thead>
          <tr class="d-flex">
            <td class="col-3 text-right">Quantidade</td>
            <td class="col-3">Tipo</td>
            <td class="col-3 text-right">Valor</td>
            <td class="col-3">Espécie</td>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let itens of troco.itensTroco" class="d-flex">
            <td class="col-3 text-right">{{itens.quantidade}}</td>
            <td class="col-3">{{itens.tipo}}</td>
            <td class="col-3 text-right">{{itens.valor}}</td>
            <td class="col-3">{{itens.especie}}</td>
          </tr>
        </tbody>

      </table>
    </div>

  </div>

</div>